<div class="container" fxLayout="row" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding-top': '25%'}" [ngStyle.gt-sm]="{'padding-top': '5%'}">
    <mat-card fxFlex.lt-md="98" fxFlex.gt-sm="30">
      <mat-card-header>
        <img mat-card-avatar src="../../assets/img/hermes-logo.png">     
        <mat-card-title class="text-primary"><i class="fas fa-user"></i>&nbsp;Sign In</mat-card-title>      
      </mat-card-header>    
      <mat-card-content>
        <div class="container mb-3 mt-3 pb-4 border-bottom" flexLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="100">
            <button  type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithGoogle()" ><i style="color: #d34836;" class="fab fa-google"></i>&nbsp;Sign In With Google</button>            
          </div>          
        </div>
        
        <form  [formGroup]="formSignIn" class="container pt-3" fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field>
            <input type="email" name="email" formControlName="email" placeholder="Email" aria-label="Email" matInput>
          </mat-form-field>
          <mat-form-field>
            <input type="password" name="password" formControlName="password" placeholder="Password" aria-label="Password" matInput>            
          </mat-form-field>
          <div class="container mt-3" flexLayout="row" fxLayoutAlign="space-around center">
            <button [disabled]="loading" type="submit" class="btn btn-primary btn-lg btn-block" (click)="go($event)" ><i class="fas fa-user"></i>&nbsp;Sign In</button>            
          </div>
        </form>
        <div class="alert alert-info m-2 text-center">
          Not registered? <a [routerLink]='["/register"]' [queryParams]="{returnUrl: returnUrl}" class="no-dec pointer">Click here</a>
        </div>
        <div class="alert alert-info m-2 text-center font-75">
         <a [routerLink]='["/user/send-reset"]' [queryParams]="{returnUrl: returnUrl}" class="no-dec pointer">Forgot Password?</a>
        </div>
      </mat-card-content>   
    </mat-card>
  </div>
  
