
<h5 class="text-center mt-0 mb-1 font-weight-bold grey-text">Your Orders</h5>
<div class="text-center mb-1">
    <div class="btn-group btn-group-sm">
        <label (click)='toggle()' size="sm" mdbBtn color="info" [(ngModel)]="complete" mdbRadio="0" mdbWavesEffect>
            Show All
        </label>
        <label (click)='toggle()' size="sm" mdbBtn color="info" [(ngModel)]="complete" mdbRadio="1" mdbWavesEffect>
            Scheduled
        </label>
        <label (click)='toggle()' size="sm" mdbBtn color="info" [(ngModel)]="complete" mdbRadio="2" mdbWavesEffect>
            Delivered
        </label>
        </div>
</div>
<div class="container" *ngIf="!orders || orders.length===0">
<div class="alert alert-secondary text-center mt-5" role="alert">
    <div>
        No orders <span *ngIf="complete === '0'">found</span><span *ngIf="complete === '1'">scheduled</span><span *ngIf="complete === '2'">delivered</span> &nbsp;<i class="fas fa-frown"></i>
    </div>
    <div class="text-center mt-1">
        <a mdbBtn color="info" mdbWavesEffect [routerLink]="['/catalogue']"><i class="fas fa-smile"></i>&nbsp;Catalogue</a>
    </div>
    
  </div>
</div>
<div class="container" *ngIf="orders && orders.length>0">
    <div class="row mb-3" *ngFor="let order of orders; let i = index">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                   <div fxShow="true" fxHide.lt-md class="container-fluid p-0">
                        <div class="row font-75 text-center">
                            <div class="col-4 font-weight-bold">
                                Order Placed
                            </div>
                            <div class="col-4 font-weight-bold ">
                                Total
                            </div>                           
                            <div class="col-4 font-weight-bold ">
                                Contact
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-4">
                                {{order.created | date: 'mediumDate'}}
                            </div>
                            <div class="col-4">
                                {{getTotal(i) | currency}}
                            </div>
                           
                            <div class="col-4">
                                {{order.detail.delivery.contact}}
                            </div>
                        </div>
                    </div> 
                    <div fxShow="true" fxHide.gt-sm class="container-fluid p-0">
                        <div class="row font-75">
                            <div class="col-5 font-weight-bold">Order Placed</div>
                            <div class="col-7">{{order.created | date: 'mediumDate'}}</div>
                        </div>
                        <div class="row font-75">
                            <div class="col-5 font-weight-bold">Total</div>
                            <div class="col-7">{{getTotal(i) | currency}}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">                    
                  <h5 class="card-title" *ngIf="order.complete" ngClass.lt-md="text-center">
                    <i class="fas fa-motorcycle"></i>&nbsp;Delivered on {{order.detail.delivery.date | date: 'medium' : 'UTC - utcOS'}}
                    </h5>
                    <h5 class="card-title" *ngIf="!order.complete" ngClass.lt-md="text-center">                        
                        <i class="fas fa-motorcycle"></i>&nbsp;Arriving <span class="font-75">on the {{getTOD(i)}} of </span> {{order.detail.delivery.date | date: 'mediumDate'}} 
                      </h5>
                  <p class="card-text">
                      {{getQuantity(i)}} item(s) to {{order.detail.address.streetAddress1}}, <span *ngIf="order.detail.address.streetAddress2">{{order.detail.address.streetAddress2}},</span> {{order.detail.address.city}},
                      {{order.detail.address.postcode | uppercase}}
                    </p>
                  <div class="text-center">
                    <button (click)="view(i)" mdbBtn type="button" color="info" mdbWavesEffect>Order Detail</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <span class="text-center">
            <mat-paginator [length]="pageCount" color="primary"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                hidePageSize="true"
                (page)="page($event)">
                </mat-paginator>
              </span>
        </div>
    </div>
</div>
