<div class="container alert-info alert">
    <br /><br />
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
        <div class="text-center col-lg-10 col-md-10 col-sm-10"><h4><i class="fa fa-info-circle"></i>&nbsp;<span class="sh">Solo Carrier</span> Terms and Conditions</h4></div>
        <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
        <div class="mt-3 col-lg-10 col-md-10 col-sm-10">
            <div>
                <h5>Deliveries and Possession of Order Items</h5>
                It is the responsibility of the Solo Carrier courier to ensure each item listed in an order is delivered to the correct address as entered by the customer.  Any occupant of the listed order address may accept the order.  No signature is required.  
                If a customer elects / chooses to have an order left at an alternative location at the listed order address (i.e. front door, back door), all items listed in the order will be considered to be in the customer's possession once delivered to the stated alternative location of the order address.  Theft of any items from an order are not the responsibility of the courier or Solo Carrier, after an order has been delivered to the requested order location.

            </div>
            <div class="mt-3">
                <h5>Returns, Exchanges and Refunds</h5>
                Returns, exchanges and refunds are currently not offered by Solo Carrier.  All sales are final.  If an item is purchased by a customer and Solo Carrier is unable to provide the purchased item, Solo Carrier will either offer an alternative item of equal cost, or provide a full refund for the individual item.
            </div>
            <div class="mt-3">
                <h5>Age Restrictions</h5>
                You must be 19 years of age or older to request delivery of alcoholic beverages or e-liquids.  Delivery requests for alcoholic beverages or e-liquids for any individual under the age of 19 years is strictly prohibited.
            </div>
            <div class="mt-3">
                <h5>Credit Cards / Payments</h5>
                All payments are processed by Stripe&nbsp;<a href="https://stripe.com/en-ca/about" target="_blank"><i class="fab fa-stripe"></i></a>.  Your credit card information is never saved by Solo Carrier.
            </div>
            <div class="mb-3 mt-3">
                <strong>How to Contact Us?</strong><br />
                    <div class="ml-3 mt-2">
                        Questions or concerns regarding terms and conditions may be directed to support@SoloCarrier.com.
                        <br /><br />
                        <a [routerLink]='["/privacy-policy"]'>Privacy Policy</a>
                    </div>
                </div>                                    
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
    </div>
</div>
                      
      
