<div class="container alert-info alert">
    <br /><br />
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
        <div class="text-center col-lg-10 col-md-10 col-sm-10"><h4><i class="fa fa-info-circle"></i>&nbsp;<span class="sh">Solo Carrier</span> Privacy Policy</h4></div>
        <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
        <div class="mt-10 col-lg-10 col-md-10 col-sm-10">
            <div>
                We respect and uphold individual rights to privacy and the protection of personal information. As a user of our service, we know the importance of protecting your personal information and we want to make every user experience safe and secure. To achieve this we have developed this privacy policy to explain our collection, use, and disclosure of your information.
                This Policy applies to all online practices of SoloCarrier.com. All references to “service” in this policy refer to our website located at www.SoloCarrier.com.  This Policy forms an integral part of our Terms of Use Agreement, which is incorporated by reference. By using our service, you are accepting the practices described in this Privacy Policy.
                If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to contact us.

            </div>
            <div class="mt-3">
                <strong>What Information Do We Collect?</strong><br />
                <div class="ml-3 mt-2">
                    <div>
                        <strong>In General.</strong><br />
                        We may collect Personal Information, including Sensitive Data, and other information from your usage of our service. The types of information we collect depend on the nature of your interaction with us.
                    </div>
                    <div class="mt-2">
                        <strong>Personal Information:</strong><br />For the purposes of this policy, “personal information” means individually identifiable information that would allow us to determine the actual identity of, and contact, a specific living person.
                    </div>
                    <div class="mt-2">
                        <strong>Sensitive Data:</strong><br />Sensitive Data includes purchasing preferences, comments or content (e.g. photographs, video, profile, lifestyle) that you optionally provide that may reveal your ethnic origin, nationality, religion and/or sexual orientation. We will seek your consent to the collection, use and disclosure of “sensitive data” as required by applicable privacy laws.  We may also collect your geolocation information with your consent.
                    </div>
                    <div class="mt-2">
                        <strong>Information You Provide:</strong>
                        <ul>
                            <li>Service Forms & Preferences.  Our service can be browsed anonymously. However, to engage in certain special features or functions of our service, you may be asked to provide certain personal information, such as your name, email address and geographic information. You may provide preferences such as preferred language and marketing consent.  You may also create a user account or profile and provide profile information, for example, photographs you upload, as well as your interests and heigh.</li>
                            <li>Payment Information.  All payment is submitted to Stripe.  No payment information is saved by Solo Carrier.</li>
                            <li>Support.  Our support center is set up to accept and address your questions, concerns, or complaints. When you support, we may ask for Information to help us respond to your inquiry or to verify your identity.</li>
                        </ul>
                    </div>
                    <strong>Information Collected Automatically:</strong>
                    <ul>
                        <li>Cookies.  The Service uses “cookies,” a technology that installs a small amount of information on a service user’s computer to permit the service to recognize future visits using that computer. Cookies enhance the convenience and use of the service. For example, the information provided through cookies is used to recognize you as a previous user of the service, to offer personalized web page content and information for your use, and to otherwise facilitate your experience. You may choose to decline cookies if your browser permits, but doing so may affect your experience and your ability to access certain features of the service or engage in transactions through the service.</li>
                        <li>Tracking Information.  Our service may track your usage of our service, including Your IP address, device ID and related mobile device information, date and time of access, Your operating system and internet browser, the portions of the service you visit or download and the Internet address of the web site from which you linked directly to our service.</li>

                    </ul><br />
                    <div class="mt-2">
                        We may use web beacons, pixel tags, local storage or other technologies that facilitate personalization to track service user demographics, service traffic patterns, and service purchases. We may also utilize Google Analytics in the collection, compilation and analysis of tracking information across multiple devices.
                    </div>
                    <div class="mt-2">
                        <strong>Mobile Applications and Location Data</strong><br />
                        When you use our service, you will be asked to allow us to collect your location information from your device. By sharing your geolocation information with us, you agree to be bound by Google’s Terms of Use (http://www.google.com/intl/en_ALL/help/terms_maps.html). We use the Maps API(s) in our mobile applications, and incorporated by reference to this policy is the Google privacy policy (currently http://www.google.com/privacy.html), as amended by Google from time to time.
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <strong>What Information Do We Collect?</strong><br />
                <div class="ml-3 mt-2">
                    <div>
                        <strong>How Do We Use Information?</strong><br />
                    <div>
                        In General.  We may use your information for a number of different business purposes, for example to:
                        <ul>
                            <li>advise you of changes to our services, or new services that we may implement from time to time;</li>
                            <li>detect and protect against fraud and error</li>
                            <li>track and analyze your preferences to better understand your service needs and eligibility</li>

                        </ul>
                    </div>
                    <div>
                        <strong>Matching</strong><br />  From time to time we will use some elements of your personal information (such as your personal preferences or your profile information) to generate and send you a list of products.

                        In all circumstances, we may perform these functions directly or use a third party vendor to perform these functions on our behalf who will be obligated to use your personal information only to perform services for us. Also, if you access our service from a third party social platform, such as Facebook, we may share non-personal information with that platform to the extent permitted by your agreement with it and its privacy settings.
                    </div>
                </div>
            </div>
            <div>
                <strong>With Whom Do We Share Information?</strong><br />
                <div class="ml-3 mt-2">
                    <div>                                                
                        <u>Personal Information.</u>  In the normal course of business we act as the data controller and processer, but we may share some of your personal information with our affiliates and with third parties acting on our behalf or as permitted or required by applicable privacy laws.
                        <ul>
                            <li>Service Providers.  We may use third party service providers (for example, web hosting providers, data management providers and/or payment processers) to manage one of more aspects of our business operations, including the processing or handing of personal information. When we do use an outside company, we use contractual or other appropriate means to ensure that your personal information is used in a manner that is consistent with this policy.</li>
                            <li>Legal Disclosure.  We may disclose your information as permitted or required by law. For example, we may be compelled to release information by a court of law or other person or entity with jurisdiction to compel production of such information, consistent with applicable privacy laws. If we have reasonable grounds to believe information could be useful in the investigation of improper or unlawful activity, we may disclose information to law enforcement agencies or other appropriate investigative bodies.</li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="mb-3">
                <strong>How Long Do We Keep Your Data?</strong><br />
                <div class="ml-3 mt-2">                                                                                          
                        We keep your information only as long as we need it for legitimate business purposes and as permitted by applicable legal requirements. In Canada, personal information used to make a decision that directly affects an individual will be kept for at least one year after such a decision. We have retention standards that meet these parameters.
                    </div>
            </div>
        
            <div class="mb-3">
                <strong>How Do You Choose What Information We Collect and Use?</strong><br />
                <div class="ml-3 mt-2">
                    <div>
                        <u>Your Consent.</u>  When you choose to provide us with your personal information you consent to the use of your personal information as identified in this policy and as may be further identified at the time of collection.
                        <br />
                        <u>Withdrawing Your Consent.</u>  You may notify us at any time that you wish to withdraw or change your consent to our use and disclosure of Your information. We will accommodate your request subject to legal and contractual restrictions.
                        How Do We Protect Your Personal Information?
                        The service limits access to your personal information. We have physical, electronic, and administrative procedures in place to protect and help prevent unauthorized access and use of personal information.
                        No data transmissions through the internet or via mobile devices, or even the physical transfer of information, can be guaranteed to be completely secure. We cannot fully eliminate all security risks associated with personal information. We do not ensure or warrant the security of any data or information you transmit to us, and you do so at your own risk.

                        You agree that we may communicate with you electronically regarding security, privacy, and administrative issues, such as security breaches. We may post a notice on our service if a security breach occurs. We may also send an email to you at the email address you have provided to us.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <strong>Children’s Privacy</strong><br />
                <div class="ml-3 mt-2">
                    Although our Service is a general audience website, we restrict the use of our service to individuals age 18 and above. We do not knowingly collect personal information from children under the age of 13.
                </div>
            </div>
            <div class="mb-3">
                <strong>How We Make Changes to This Privacy Policy?</strong><br />
                <div class="ml-3 mt-2">
                    We will occasionally update this privacy policy. When we post changes to this privacy policy, we will revise the “effective” date at the top of this privacy policy. We recommend that you check our service from time to time to inform yourself of any changes in this privacy policy or any of our other policies.
                </div>
            </div>
            <div class="mb-3">
                <strong>How to Contact Us?</strong><br />
                    <div class="ml-3 mt-2">
                        Questions or concerns regarding this policy may be directed to support@SoloCarrier.com.
                        <br /><br /><br /><br />
                    </div>
                </div>                                    
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">&nbsp;</div>
    </div>
</div>
                      
      
